.button {
    display: inline-block;
    background-color: crimson;
    padding: 5px 15px;
    color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
    &:hover {
        background-color: #333;
        color: #fff
    }
    &--white {
        @extend .button;
        background-color: #fff;
        color: #000
    }
    &--black {
        @extend .button;
        background-color: $black;
    }
    &--red {
        @extend .button;
        background-color: $red;
        &:hover {
            background-color: darken($color: crimson, $amount: 5%);
        }
    }
    &--blue {
        @extend .button;
        background-color: $blue;
    }
    &--green {
        @extend .button;
        background-color: $green;
    }
}